
.navbar{
  display: block;
  margin-top: -10px;
  background: #aaa;
  & ul{
    & li{
      display: inline-block;
      margin: 0 5px;
    }
  }
  & #logo,
    nav{
    display: inline-block;
    & a{
    text-decoration: none;
    color: #333;
    }
  }
  & nav{
    position: absolute;
    right: 5%;
  }
  & #logo{
    position: relative;
    left: 5%;
    margin: 16px 5px;
    text-decoration: none;
    color: #333;
  }
}

.container{
  position: relative;
  max-width: 1200px;
  margin: 5px auto;
  & > a{
    margin-left: 5%;
  }
}
.center{
  text-align: center;
}

footer{
  margin-left: 5%;
  & small,
    nav{
      display: block;
      margin: 5px;
    }
  & small{
    margin-left: 5%;
  }
  & nav{
    position: absolute;
    right: 5%;
    & ul{
      text-align: right;
      & li{
        display: inline-block;
        margin: 5px;
        & a{
          text-decoration: none;
          color: #333;
        }
      }
    }
  }
}
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* miscellaneous */

.debug_dump {
  max-width: 1200px;
  margin-top: 70px;
  border: 1px solid black;
  border-radius: 7px;
  @include box-sizing;
  text-align: center;
}

.debug_dump{
  margin-left: 5%;
  margin-right: 5%;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid black;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  display: block;
  margin: auto;
  text-align: center;
  border: 1px solid #bbb;
  width: 40%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
.alert{
  text-align: center;
  margin: 10px auto;
}
#error_explanation {
  color: #f00;
  text-align: left;
  max-width: 40%;
  margin: auto;
  & .alert{
    padding-left: 40px;
  }
  ul {
    list-style: none;
    margin: 0 0 18px 0;
    text-align: left;
    & li{

    }
  }
}

.field_with_errors {

}

html{
  background: #eee;
}
body{
  margin: 0;
}
